[submodule "upstream/third_party/testsuite"]
	path = upstream/third_party/testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "upstream/third_party/gtest"]
	path = upstream/third_party/gtest
	url = https://github.com/google/googletest
[submodule "upstream/third_party/ply"]
	path = upstream/third_party/ply
	url = https://github.com/dabeaz/ply
[submodule "upstream/third_party/wasm-c-api"]
	path = upstream/third_party/wasm-c-api
	url = https://github.com/WebAssembly/wasm-c-api
[submodule "upstream/third_party/uvwasi"]
	path = upstream/third_party/uvwasi
	url = https://github.com/nodejs/uvwasi
[submodule "upstream/third_party/picosha2"]
	path = upstream/third_party/picosha2
	url = https://github.com/okdshin/PicoSHA2
[submodule "upstream/third_party/simde"]
	path = upstream/third_party/simde
	url = https://github.com/simd-everywhere/simde
